table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.additional-data {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    font-family: 'Poppins';
}

#top-navbar {
    background-color: rgba(19, 78, 58, 1);
    color: #fff;
    padding: 10px; /* Padding for the navbar */
}

.icon1 ion-icon {   
    font-size: 30px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#top-nav-links {
    display: flex;
    justify-content: flex-end;
}

  #top-nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

#sidebar {
    width: 300px;
    background-color: #E2F0F1;
    height: 88vh;
    float: left;
    position: relative;
}

#logo {
    background-color: #639d77;
    position: absolute;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    width: 220px;
    height: 90px;
}

#logo img {
    width: 100%;
}

#nav {
    margin-top: 30px;
}

#nav a {
    display: block;
    padding: 10px 20px; /* Adjust padding to create space between icon and text */
    margin-bottom: 10px;
    background-color: #19B3C8;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px; /* Add equal margins to the left and right */
    text-align: left; /* Align text to the left */
}

#nav a:hover {
    background-color: #4B805D;
}

#nav a img {
    width: 20px;
    margin-right: 10px; /* Adjust the right margin of the icon */
    vertical-align: middle; /* Align the icon vertically with the text */
}

#logout {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
}

#logout button {
    width: 100%;
    padding: 10px;
    background-color: #19B3C8;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-family: poppins;
}

#logout button:hover {
    background-color: #4B805D;
}

.tophead{
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    top: 110px;
    left: 350px;
}

.textbox {
    position: absolute;
    left: 360px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);;
    margin-top: 40px;
    border-radius: 10px;
    width: 1120px;
    height: 350px;
}

.textbox {
    width: 75%; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Set background color */
    margin: 125px auto; /* Center the box horizontally with some top margin */
    padding: 20px; /* Add padding inside the box */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}