body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #ffffff;
}

#top-navbar {
    background-color: rgba(19, 78, 58, 1);
    color: #fff;
    padding: 10px;
}

.icon1 ion-icon {   
    font-size: 30px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#top-nav-links {
    display: flex;
    justify-content: flex-end;
}

#top-nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

#sidebar {
    width: 300px;
    background-color: #E2F0F1;
    height: 100vh;
    float: left;
    position: relative;
}

#logo {
    background-color: #639d77;
    position: absolute;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    width: 220px;
    height: 90px;
}

#logo img {
    width: 100%;
}

#nav {
    margin-top: 130px;
}

#nav a {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #19B3C8;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    position: relative;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

#nav a:hover {
    background-color: #4B805D;
}

#nav a img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

#logout {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
}

#logout button {
    width: 100%;
    padding: 10px;
    background-color: #19B3C8;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#logout button:hover {
    background-color: #4B805D;
}

.tophead {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    top: 20px;
    left: 350px;
}

#data-container {
    margin-top: 100px;
    margin-left: 320px;
    width: calc(100% - 340px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.see-more-btn {
    background-color: #19B3C8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.see-more-btn:hover {
    background-color: #4B805D;
}

.additional-data {
    display: none;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #19B3C8;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#pagination button:hover {
    background-color: #4B805D;
}

#pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}